# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\djangoProject\Generate_order_servise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
